{% extends "posts/layouts/header.html"%}
{% block content %}
  <h1>⚡️ RAF Board ⚡️ </h1>
  {% if messages %}
   {% for message in messages%}
        <h3>{{ message }}</h3>
   {% endfor %}
  {% endif %}
  <div class="dropdown">
    <form class="form-inline" action="." method="get">
      <label for="naslov">Title:</label>
      <input class="dropdownInput" type="text" id="title" placeholder="Unesi naslov" name="title" value="">
      <label for="text">Tweet:</label>
      <input class="dropdownInput" type="text" id="tweet" placeholder="Unesi tekst" name="tweet" value="">
      <input type="hidden" name="from" value="n">
      <button class="dropbtn" type="submit">Filter posts</button>
    </form>
  </div>
  <!--regular posts-->
  {% for post in posts %}
    <div class="card">
      <div class="container">
        <h4><b>{{ post.post_title }}</b></h4>
        <p> {{post.post_tweet}} </p>
        <br>
        {% if post.post_user_id == user %}
          <a class="dropbtn" href="{% url 'posts-edit_post' post.id %}">Edit</a>
          <a class="dropbtn" href="{% url 'posts-delete_post' post.id %}"> Delete </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock content %}